{% extends "analyst/index.html" %}

{% block content %}

<h1>Data</h1>

<p>
	On this site you can manage your data and easily add new data by csv-import.
</p>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Manage data
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-striped">
		  <thead>
			  <tr>
				<th>ID</th>
				<th>Name</th>
				<th>Content</th>
				<th>Added</th>
				<th></th>
			  </tr>
		  </thead>
		  <tbody>
			{% for item in datasets %}
					<tr>
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td>Show header | <a href="{% url 'dataallentries' item.id %}">Show all entries</a></td>
						<td>{{ item.created }}</td>
						<td>
							<form method="post" action="">
							{% csrf_token %}
							<input type="hidden" name="deleteid" value="{{item.id}}"/>
							<input type="submit" class="btn btn-danger" value="Delete Dataset"/>
							</form>
						</td>
					</tr>
			{% endfor %}	
		  </tbody>
		</table>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Add data
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		  {% load bootstrap3 %}
		  {% bootstrap_form_errors form %}
        <form method="post" class="form" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form form %}
			<input type="hidden" name="deleteid" value="0"/>
			<input type="submit" value="Import Data" />
		</form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
